.baby {
    background-image: url("../../assets/images/appointment.png");
}
.imagesize{
     margin-top: "-104px";
}

@media (max-width: 600px) {
     .imagesize  {
        display:none;
    }
    .txdiv{
        /* width:'80%'; */
       
        display:flex;
        flex-direction:column;
        /* justify-content: center; */
        /* align-items:flex-start; */
        align-content: center;
        /* margin:'3px'; */
        padding:'20px';
        /* padding:'20px'; */


    }
}