.foott{
    background-color: white;
    background-image:url("../../assets/images/footer.png");
    background-size: auto 100%;
    /* background-repeat: repeat; */
    background-position:center center;
    background-size: cover;
}